## Estructuras de Datos

1) Crear una lista que contenga nombres de ciudades del mundo que contenga más de 5 elementos e imprimir por pantalla

In [9]:
citys = ['Trelew', 'Tenerife', 'Bangkok', 'Toronto', 'Estambul', 'Londres', 'Ebisu']

2) Imprimir por pantalla el segundo elemento de la lista

In [5]:
print(citys[1])

Tenerife

3) Imprimir por pantalla del segundo al cuarto elemento

In [6]:
print(citys[1:4])

['Tenerife', 'Bangkok', 'Toronto']

4) Visualizar el tipo de dato de la lista

In [7]:
print(type(citys))

<class 'list'>

5) Visualizar todos los elementos de la lista a partir del tercero de manera genérica, es decir, sin explicitar la posición del último elemento

In [8]:
print(citys[2:])

['Bangkok', 'Toronto', 'Estambul', 'Londres', 'Ebisu']

6) Visualizar los primeros 4 elementos de la lista

In [10]:
print(citys[:4])

['Trelew', 'Tenerife', 'Bangkok', 'Toronto']

7) Agregar una ciudad más a la lista que ya exista y otra que no ¿Arroja algún tipo de error?

In [23]:
citys.append('Sidney')
citys.append('Toronto')
print(citys)

['Trelew', 'Tenerife', 'Bangkok', 'Pekin', 'Estambul', 'Londres', 'Sidney', 'Toronto']

8) Agregar otra ciudad, pero en la cuarta posición

In [14]:
citys.insert(3, 'Pekin')

9) Concatenar otra lista a la ya creada

In [10]:
citys2 = ["Seul", "Berlin", "Atenas", "Dubai", "Oslo"]
citys3 = citys + citys2
print(citys3)

['Trelew', 'Tenerife', 'Bangkok', 'Toronto', 'Estambul', 'Londres', 'Ebisu', 'Seul', 'Berlin', 'Atenas', 'Dubai', 'Oslo']

10) Encontrar el índice de la ciudad que en el punto 7 agregamos duplicada. ¿Se nota alguna particularidad?

In [16]:
print(citys3.index('Toronto'))

4

11) ¿Qué pasa si se busca un elemento que no existe?

In [17]:
print(citys[23])

IndexError: list index out of range

12) Eliminar un elemento de la lista

In [18]:
citys.remove('Toronto')

13) ¿Qué pasa si el elemento a eliminar no existe?

In [19]:
citys.remove('Hawai')

ValueError: list.remove(x): x not in list

14) Extraer el úlimo elemento de la lista, guardarlo en una variable e imprimirlo

In [24]:
print(citys)
last_city = citys.pop()
print(last_city)

['Trelew', 'Tenerife', 'Bangkok', 'Pekin', 'Estambul', 'Londres', 'Sidney', 'Toronto']
Toronto

15) Mostrar la lista multiplicada por 4

In [25]:
print(citys*4)

['Trelew', 'Tenerife', 'Bangkok', 'Pekin', 'Estambul', 'Londres', 'Sidney', 'Trelew', 'Tenerife', 'Bangkok', 'Pekin', 'Estambul', 'Londres', 'Sidney', 'Trelew', 'Tenerife', 'Bangkok', 'Pekin', 'Estambul', 'Londres', 'Sidney', 'Trelew', 'Tenerife', 'Bangkok', 'Pekin', 'Estambul', 'Londres', 'Sidney']

16) Crear una tupla que contenga los números enteros del 1 al 20

In [3]:
numbers = tuple(range(1, 21))
print(numbers)

(1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20)

17) Imprimir desde el índice 10 al 15 de la tupla

In [30]:
print(numbers[10:15])

(11, 12, 13, 14, 15)

18) Evaluar si los números 20 y 30 están dentro de la tupla

In [35]:
if 20 and 30 in numbers:
    print('in')
else:
    print('out')

out

19) Con la lista creada en el punto 1, validar la existencia del elemento 'París' y si no existe, agregarlo. Utilizar una variable e informar lo sucedido.

In [36]:
citys = ['Trelew', 'Tenerife', 'Bangkok', 'Toronto', 'Estambul', 'Londres', 'Ebisu']

if 'Paris' not in citys:
    citys.append('Paris')
    message = "Se ha agregado 'Paris' a la lista."
else:
    message = "'Paris' ya está presente en la lista."

print(message)
print(citys)

Se ha agregado 'Paris' a la lista.
['Trelew', 'Tenerife', 'Bangkok', 'Toronto', 'Estambul', 'Londres', 'Ebisu', 'Paris']

20) Mostrar la cantidad de veces que se encuentra un elemento específico dentro de la tupla y de la lista

In [40]:
print(numbers.count(10))
print(citys.count('Tenerife'))

1
1

21) Convertir la tupla en una lista

In [2]:
print(type(numbers))
numbers2 = list(numbers)
print(numbers2)
print(type(numbers2))

NameError: name 'numbers' is not defined

22) Desempaquetar solo los primeros 3 elementos de la tupla en 3 variables

In [8]:
var1, var2, var3 = numbers[0:3]
print(var1,var2,var3)

1 2 3

23) Crear un diccionario utilizando la lista crada en el punto 1, asignandole la clave "ciudad". Agregar tambien otras claves, como puede ser "Pais" y "Continente".

In [29]:
Places = {'ciudad': citys3}
# citys3 = ['Trelew', 'Tenerife', 'Bangkok', 'Toronto', 'Estambul', 'Londres', 'Ebisu', 'Seul', 'Berlin', 'Atenas', 'Dubai', 'Oslo']
paises = ['Argentina', 'España', 'Tailandia', 'Canadá', 'Turquía', 'Reino Unido', 'Japón', 'Corea del Sur', 'Alemania', 'Grecia', 'Emiratos Árabes Unidos', 'Noruega']
continentes = ['América', 'Europa', 'Asia', 'América', 'Asia', 'Europa', 'Asia', 'Asia', 'Europa', 'Europa', 'Asia', 'Europa']

# Crear el diccionario Places con las claves "ciudad", "pais" y "continente"
Places = {}
for i in range(len(citys3)):
    ciudad = citys3[i]
    pais = paises[i]
    continente = continentes[i]
    Places[ciudad] = {"pais": pais, "continente": continente}

# Acceder a los datos de una ciudad específica
ciudad_seleccionada = 'Trelew'
datos_ciudad = Places[ciudad_seleccionada]
print(datos_ciudad)

{'pais': 'Argentina', 'continente': 'América'}

24) Imprimir las claves del diccionario

In [31]:
claves = Places.keys()
print(claves)
valores = Places.values()
print(valores)

dict_keys(['Trelew', 'Tenerife', 'Bangkok', 'Toronto', 'Estambul', 'Londres', 'Ebisu', 'Seul', 'Berlin', 'Atenas', 'Dubai', 'Oslo'])
dict_values([{'pais': 'Argentina', 'continente': 'América'}, {'pais': 'España', 'continente': 'Europa'}, {'pais': 'Tailandia', 'continente': 'Asia'}, {'pais': 'Canadá', 'continente': 'América'}, {'pais': 'Turquía', 'continente': 'Asia'}, {'pais': 'Reino Unido', 'continente': 'Europa'}, {'pais': 'Japón', 'continente': 'Asia'}, {'pais': 'Corea del Sur', 'continente': 'Asia'}, {'pais': 'Alemania', 'continente': 'Europa'}, {'pais': 'Grecia', 'continente': 'Europa'}, {'pais': 'Emiratos Árabes Unidos', 'continente': 'Asia'}, {'pais': 'Noruega', 'continente': 'Europa'}])

25) Imprimir las ciudades a través de su clave

In [30]:
for ciudad in Places.keys():
    print(ciudad)

Trelew
Tenerife
Bangkok
Toronto
Estambul
Londres
Ebisu
Seul
Berlin
Atenas
Dubai
Oslo